main{
    min-height: 80vh;
    margin-top: 56px;
    padding-bottom: 56px;

}

h3{
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
}

.rating span {
  margin: 0 2px;
}